<h1>All Your Favorite Restaurants</h1>

    <ul>



  
    <% results.forEach(result =>{ %>
        <li><a href = "/profile/<%= result.restaurantId%>"><%= result.name %></a></li>
        <%= result.restaurantId%>  <br>
        <%= result.id%>
        <form method = "POST" action= "/profile/<%= result.id%>?_method=DELETE">
          
          <button type="submit" class="btn btn-danger">Remove From Faves</button>

        </form> 


  <%  })%>
    </ul>