

<h1><%= name %></h1>
<br>
<h3>Address: <%= address  %></h3>
<h3>hours: <%= hours %> </h3>
<h3>Phone: <%= phoneNumber %></h3>
<h6>restaurant code: <%= restaurantCode %></h6>


<br>
<small>log in or sign up to add info and add to your profile</small>


