
<div class = "detail-page">
<h1><%= name %></h1>
<br>
<h3>Address: <%= address  %></h3>
<h3>hours: <%= hours %> </h3>
<h3>Phone: <%= phoneNumber %></h3>
<h6>restaurant code: <%= restaurantCode %></h6>


<br>
<% if (!currentUser) { %>
    <small>log in or sign up to add info and add to your profile</small>
  <% } else { %>
    <form method = "POST" action = "/profile/restaurants">
        <input hidden type = "text" name = "name" value = "<%= name %>">
        <input hidden type = "text" name = "address" value = "<%= address %>">
        <input hidden type = "text" name = "hours" value = "<%= hours %>">
        <input hidden type = "text" name = "phoneNumber" value = "<%= phoneNumber %>">
        <input hidden type = "text" name = "restaurantCode" value = "<%= restaurantCode %>">
        <input hidden type = "text" name = "restaurantId" value = "<%= restaurantId %>">
        <button type="submit" class="btn btn-secondary"  >Add to your profile</button>
    </form>
    <br>
    <form action = "/profile/restaurants/edit/<%= restaurantId %>">
      <input type = "submit" class="btn btn-dark" value = "Edit this restaurant">
    </form>
    
  <% } %>


  </div>
